<div class="details-container">
  <article class="location-details">
    @if (location()) {
      <div id="main-content">
      <button
        class="nav-button" id="nav-prev"
        (click)="goToPrevious()"
        [disabled]="!hasPrevious()">
        ‹
      </button>
      <section class="location-header">
        <h1>{{ location()!.name }}</h1>
        <img [src]="location()!.img" [alt]="location()!.name" class="location-image">
      </section>
      <button
            class="nav-button" id="nav-next"
            (click)="goToNext()"
            [disabled]="!hasNext()"
            aria-label="Next location">
            ›
        </button>
          
      </div>

      <h2>Property Details</h2>
      <section class="location-info">
        <p>Location: {{ location()!.address }}</p>

        @if (location()!.properties && location()!.properties!.length > 0) {
          <div class="properties">
            <h3>Amenities:</h3>
            <ul>
              @for (property of location()!.properties; track $index) {
                <li>{{ property }}</li>
              }
            </ul>
          </div>
        } @else {
          <p>No amenities listed.</p>
        }
      </section>
    } @else {
      <p>Location not found.</p>
    }
  </article>
</div>
<button class="btn btn-secondary" (click)="openLocationForm()">Edit Location</button>
<router-outlet 
    (activate)="togglePanelSignal(true)" 
    (deactivate)="togglePanelSignal(false)">
</router-outlet>